<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>表情包制作</title>

    <link rel="stylesheet" href="/libs/element-ui.css">
    <link rel="stylesheet" href="/css/css.css">
    <script src="/libs/vue.min.js"></script>
    <script src="/libs/vue-router.min.js"></script>
    <script src="/libs/element-ui.js"></script>
    <script src="/libs/axios.min.js"></script>
    <script src="/js/loader.js"></script>
    <script>
    loader.config({
        baseUrl: '/js',
        debug: false
    });

    // 通用配置
    axios.interceptors.response.use(function(response) {
        return response.data;
    }, function (error) {
        return Promise.reject({});
    });
    </script>
</head>
<body style="margin: 0; padding: 0">

<div id="app"></div>

<script src="/js/libs/fabric.min.js"></script>
<script src="/js/entry.js"></script>
</body>
</html>
